@model KitapciApp.EntityLayer.Tur
@{
    ViewBag.Title = "Tur Sil";
}

<h2>Tür Sil</h2>

<hr />
<p>@Model.Ad adlı türü silmek istiyor musunuz?</p>

@using (Html.BeginForm("Sil", "Tur", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-10">
            <a href="@Url.Action("Listele")" class="btn btn-primary">Hayır</a>
            <button type="submit" class="btn btn-danger">Evet</button>
        </div>
    </div>
}
